
// Custom Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

$theme-font: 'Montserrat', sans-serif;
$brand-color: #eb0000;
// $brand-color:#ED7745;
$bcolor: #000;
$wcolor: #fff;
$black-opacity: rgba($bcolor, 0.3);

@mixin scale ($svalue) {
  @include transform(scale($svalue));
}

@mixin transition($property,$time,$effect){
  -webkit-transition: $property $time $effect;
     -moz-transition: $property $time $effect;
      -ms-transition: $property $time $effect;
       -o-transition: $property $time $effect;
          transition: $property $time $effect;
}

@mixin transform($transforms){
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

@mixin translate ($x,$y) {
  @include transform(translate($x,$y));
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {overflow-x: hidden;}

body {
  overflow-x: hidden;
  font-family:$theme-font; 
}

ul li {list-style: none;}

.dropdown:hover>.dropdown-menu{
	display:block;
}

a:hover, a:visited, a:focus {
	background-color: transparent;
  	text-decoration: none;
	outline: 0;
}

.zoomIn:hover{
	@include scale(1.2);
	@include transition(all,0.8s,ease);
}


.tbtn{
    border-radius: 0;
    display: block;
    padding: 10px 25px;
    text-align: center;
	text-transform: uppercase;
}

.btn-transparent{
	background: transparent;
	border: 1px solid $bcolor;
	color: $bcolor;
	&:hover{
		background: $bcolor;
		color:$wcolor;
		@include transition(all,0.3s ,ease-in);
	}
}
.btn-tcolor{
	background: $brand-color;
	border: 1px solid $brand-color;
	color: $wcolor;
	&:hover{
		background: $brand-color;
		color:$wcolor;
		@include transition(all,0.3s ,ease-in);
	}
}
.btn-bcolor{
	background: $bcolor;
	border: 1px solid $bcolor;
	color: $wcolor;
	&:hover{
		background: transparent;
		color:$bcolor;
		@include transition(all,0.3s ,ease-in);
	}
}

.section-padding{padding: 3% 0;}

.section-header{
	width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
	text-align:center;

	h2{
		color: #111111;
	    font-size: 32px;
	    font-weight: 600;
	}

	.header-style{
	    border-bottom: 2px solid $brand-color;
	    width: 5%;
	    margin: 0 auto;
	}

	p{
		color: #000;
		margin-top: 10px;
	}
}

// CSS For Top Navbar

.menu-sidenav {
	position: fixed;
	top: 72px;
    left: -280px;
    height: 100%;
    width: 275px;
    background: #eee;
    overflow-x: hidden;
    z-index: 55;
    @include transition(all,.4s,ease);

    .sidenav-menu-link{
	    padding-top: 30px;
	    padding-left: 20px;
	    padding-right: 20px;

	    ul li{margin-bottom: 20px;}

	    a{
	    	color: $bcolor;
	    	text-transform: capitalize;
	    	@include transition(all,.4s,ease);

	    	&:hover{color: $brand-color;}

	    	span{
	    		color: $bcolor;
	    		float: right;
				font-size: 20px;
				font-weight: 600;
				line-height: 16px;
				text-align: center;
	    	}
	    }

	    #second-category{margin: 25px;}

	    #third-category{margin: 25px;}
	}

    hr{border-top: 1px solid #ddd;}

    .sidenav-menu-account{
	    padding-top: 30px;
	    padding-left: 20px;
	    padding-right: 20px;

	    ul li{margin-bottom: 25px;}

	    a{
	    	color: $bcolor;
	    	text-transform: capitalize;
	    	@include transition(all,.4s,ease);

	    	&:hover{color: #757575;}
	    }
	}

	.sidenav-menu-social{
	    padding-top: 30px;
	    padding-left: 20px;
	    padding-right: 20px;

	    ul li{
	    	margin-bottom: 25px;
	    	float: left;
	    }

	    a{
	    	color: $bcolor;
	    	font-size: 22px;
    	    margin-right: 20px;
	    	text-transform: capitalize;
	    	@include transition(all,.4s,ease);

	    	&:hover{color: #757575;}
	    }
	}
}

.show-sidemenu{
	left: 0 !important;
	@include transition(all,.4s,ease);
}

.header{

	.top-nav{
		height: 50px;
	    line-height: 40px;
		text-align: right;
    	ul{
		    display: inline-block;
	        margin-top: 7px;

    		li{
			    display: inline-block;
			    &:after{
			    	content: '';
			    	width: 2px;
				    height: 25px;
				    background: #ddd;
				    position: absolute;
				    top: 15px;
			    }
			    a{
			    	color: #747474;
				    font-size: 12px;
		    	    padding: 10px 20px;
		    	    text-transform:capitalize;
					
					span{
						color:#ff0000;
						font-size:11px;
					}

		    	    sub{
		    	    	top: 11px;
					    left: -8px;
					    font-size: 14px;
		    	    }

		    	    &:hover{
		    	    	color:$brand-color;
		    	    	@include transition(all,.6s,ease);
		    	    }
			    }
    		}
    	}
	}

	.action-bar{
		border-bottom: 1px solid #eee;
		padding: 15px 0;

		.searchbox{

			.input-group{

	    		.form-control{
	    			height: 40px;
	    			border-left: 0;
	    			border-right: 0;
	    			box-shadow: none;
	    			&:focus{
	    				border-color: #ccc;
	    			}
	    		}

	    		.input-group-addon:first-child{
	    			background: transparent;
	    			border-radius: 0;
	    			padding: 0;
	    			button{color: #afafaf;}
	    		}

	    		.input-group-addon:not(:first-child){
		    		background:$brand-color;
		    		border: 1px solid $brand-color;
		    		border-radius: 0;
		    		padding: 0;
		    	}
		    	button{
	    			background: transparent;
	    			border: 0;
	    			color: $bcolor;
				    font-size: 15px;
				    padding: 0 10px;

				    &:hover{
		    	    	color:$brand-color;
		    	    	@include transition(all,.6s,ease);
		    	    }
	    		}
	    	}
		}

		.action-icon{
			text-align: right;
			ul{
				li{
					display: inline-block;
					margin-left: 35px;
					.cart-icon{
						width: 70px;
					    height: 45px;
					    background: $brand-color;
					    border-radius: 4px;
					    line-height: 40px;
					    text-align: center;
						a{
							color: $wcolor;
		    				font-size: 23px;

						    &:hover{
				    	    	color: $wcolor;
				    	    	@include transition(all,.6s,ease);
				    	    }
		    			}
		    			span{
						    color: $wcolor;
						    font-size: 18px;
						}
					}
					.cart-text{
						a{
							color: #000;
						    font-size: 14px;
						    text-decoration: underline;
						}
					}
				}
			}

			.dropdown-menu{
				left: 10px;
				border-radius: 0;
			    border: 0;
			    min-width: 90px;

			    li a{font-size: 15px;}
			}
		}

		#msearchbox{
			margin-top: 25px;

			.input-group{

	    		.form-control{
	    			height: 45px;
	    			border-right: 0;
	    			box-shadow: none;
	    		}

	    		.input-group-addon{
	    			background: transparent;
		    		button{
		    			background: transparent;
		    			border: 0;
		    			color: $bcolor;
					    font-size: 20px;
					    padding: 0 10px;
		    		}
		    	}
	    	}
		}
    }

    .main-nav{
    	height: 50px;
    	background:$wcolor;
		border-bottom: 1px solid #eee;
    	.mainnav-wrapper{
    		text-align: center;

	    	ul{
	    		li:first-child{
	    			a{padding-left:0;}
	    		}

	    		li{
    			    display: inline-block;
    			    margin-right: 50px;

    			    a{
    			    	color:$bcolor;
    			    	cursor:pointer;
    			    	font-size: 13px;
			    	    text-transform: uppercase;

			    	    .link-hover{
			    	    	width: 0;
						    height: 1px;
						    display: block;
						    background: #000;
			    	    }

			    	    &:hover{
			    	    	color:$brand-color;
			    	    	@include transition(all,.3s,ease);
			    	    	.link-hover{
			    	    		width: 100%;
			    	    		@include transition(all,.5s,ease);
			    	    	}
			    	    }
    			    }
	    		}
	    	}

	    	.mega-dropdown{
	    		padding: 15px;
		    	.mega-dropdown-content{
					width: 80%;
				    position: absolute;
				    left: 105px;
				    top: 183px;
				    background: #f7f7f7;
				    border: 1px solid #f7f7f7;
				    border-radius: 0;
				    box-shadow: none;
			        padding: 15px 0;
				    text-align: left;
				    visibility: hidden;
				    z-index: 100;

				    .submenu-header{
				    	font-size: 12px;
					    font-weight: 700;
					    text-transform: uppercase;
				    }

				    .submenu-list{
			    	    li{
			    	    	display: block;
			    	    	margin-bottom: 10px;
			    	    	a{
			    	    		color: #383838;
			    	    		font-size: 13px;
			    	    		text-transform: capitalize;
			    	    	}
			    	    }
				    }
				}

				&:hover{
					background: #f7f7f7;
					border-top: 2px solid $brand-color;
					box-shadow: 0 0 2px #ddd;
					.mega-dropdown-content{
					    visibility: visible;
					}
	    	    }
			}
    	}
    }

    .fixed-nav{
    	position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    z-index: 30;

 		.mainnav-wrapper{
 			.mega-dropdown{
 				.mega-dropdown-content{
			    	top: 80px;
				}

				&:hover{
					.mega-dropdown-content{
						top: 50px;
						@include transition(all,.6s,ease);
					}
	    	    }
 			}
 		}
    }
}


.home-category-list{
	.row{
		margin-bottom: 15px;
		.tbtn{padding: 15px 20px;}
	}
}

.home-category-box{
	.row{margin-bottom: 25px;}
	.category-box{
		.photo{margin-bottom: 15px;}
	}
}

.home-product-slider{
	.product{
		text-align: center;
		.name{padding: 5px 0;}
		.price{padding: 5px 0;}
	}
	.hp-slider{
		.owl-nav{
			.owl-prev{
				position: absolute;
			    top: 30%;
			    left: -25px;
			    color: #000;
			    font-size: 25px;
			    &:focus{outline: 0;}
			}
			.owl-next{
				position: absolute;
			    top: 30%;
			    right: -25px;
			    color: #000;
			    font-size: 25px;
			    &:focus{outline: 0;}
			}
		}
	}
}

footer{
	background:#3c3c3c;
	color: $wcolor;
	padding: 10px 0;

	ul{
		text-align: center;
		li{
			display: inline-block;
			margin-right: 20px;
			
			a{
				color: $wcolor;
				text-transform: capitalize;
			}
		}
	}

	.social-media-icon{
		padding: 25px 0;
		ul{
			li{				
				a{font-size: 25px;}
			}
		}
	}
}

// *******************************************



	
	
